<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>nonton</title>
  </head>
  <body class="bg-sky-50">
    <nav
      id="navBar"
      class="p-2 sticky top-0 block w-full z-10 transition duration-500"
    >
      <div
        class="w-full h-[55px] bg-sky-50/60 rounded-xl flex justify-between items-center backdrop-blur-lg px-3 py-2"
      >
        <img src="./logo/nonton.svg" alt="" class="h-9" />
        <div class="flex">
          <img
            src="./icon/moon.svg"
            alt="dark switch"
            id="darkSwitch"
            class="h-[30px] mx-1"
          />
          <img
            src="./icon/more.svg"
            alt="button drawer"
            id="buttonDrawer"
            class="h-[30px] mx-1"
          />
        </div>
      </div>
      <search-bar class="hidden"></search-bar>
    </nav>
    <main id="mainContent" class="text-xl font-bold bg-sky-50">
      <span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span><span>hello world</span><span>hello world</span
      ><span>hello world</span>
    </main>
    <!-- <main id="mainContent" class="">
      <section id="recommended">
        <h1 class="text-xl text-bold px-2">Recommended</h1>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide px-2">
              <div class="item-image relative rounded-xl overflow-hidden">
                <img src="./img/backdrop-2.webp" alt="" class="brightness-90" />
                <div
                  class="item-rate absolute bottom-0 indent-[-2px] text-sm flex h-fit justify-between items-center w-full px-2 bg-gradient-to-b from-black/0 to-black/80"
                >
                  <h2
                    class="font-semibold w-[70%] p-1 text-lg font-opensns text-gray-100"
                  >
                    She Hulk: Attournet at Law
                  </h2>
                  <div>
                    <i class="fa-solid fa-star text-yellow-300"></i>
                    <i class="fa-solid fa-star text-yellow-300"></i>
                    <i class="fa-solid fa-star text-yellow-300"></i>
                    <i
                      class="fa-regular fa-star-half-stroke text-yellow-300"
                    ></i>
                    <i class="fa-light fa-star text-yellow-300"></i>
                  </div>
                </div>
              </div>
              <div class="flex flex-wrap">
                <a
                  href="#"
                  class="m-[4px] mt-[7px] px-5 py-[4px] rounded-full block bg-gradient-to-r from-fuchsia-400 to-violet-400 text-white text-[15px] font-medium"
                  >Action</a
                >
                <a
                  href="#"
                  class="m-[4px] mt-[7px] px-5 py-[4px] rounded-full block bg-gradient-to-r from-fuchsia-400 to-violet-400 text-white text-[15px] font-medium"
                  >Comedy</a
                >
                <a
                  href="#"
                  class="m-[4px] mt-[7px] px-5 py-[4px] rounded-full block bg-gradient-to-r from-fuchsia-400 to-violet-400 text-white text-[15px] font-medium"
                  >Family</a
                >
                <a
                  href="#"
                  class="m-[4px] mt-[7px] px-5 py-[4px] rounded-full block bg-gradient-to-r from-fuchsia-400 to-violet-400 text-white text-[15px] font-medium"
                  >Sci-Fi & Fantasy</a
                >
                <a
                  href="#"
                  class="m-[4px] mt-[7px] px-5 py-[4px] rounded-full block bg-gradient-to-r from-fuchsia-400 to-violet-400 text-white text-[15px] font-medium"
                  >Documentation</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="w-full bg-gray-200 h-[50px] my-2"></section>
      <section id="populer">
        <h1 class="my-1 text-lg font-bold">recommended for you</h1>
        <div class="flex justify-start gap-x-[2%] overflow-scroll px-2">
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
          <div class="min-w-[32%]">
            <div class="item-img rounded-lg overflow-hidden">
              <img src="./img/poster-11.webp" alt="" />
            </div>
            <h3 class="text-md font-bold mx-1">thor ragnarog</h3>
            <p class="text-sm mx-1 text-neutral-600">27 dec 2020</p>
          </div>
        </div>
      </section>
    </main> -->
    <div
      id="bottomBar"
      class="fixed bottom-0 left-0 w-full h-[60px] bg-sky-50/50 backdrop-blur-lg flex items-center justify-evenly"
    >
      <a href="#/home" class="" tabindex="0">
        <img src="./icon/home.svg" class="h-7 mx-1" />
        <p class="hidden">HOME</p>
      </a>
      <a href="#/favorite" class="" tabindex="0">
        <img src="./icon/favorite.svg" class="h-7 mx-1" />
        <p class="hidden">LIKE</p>
      </a>
      <a href="#/list" class="" tabindex="0">
        <img src="./icon/watchlist.svg" class="h-7 mx-1" />
        <p class="hidden">LIST</p>
      </a>
      <button class="">
        <img src="./icon/search.svg" class="h-7 mx-1" />
      </button>
    </div>
    <div
      id="appDrawer"
      class="h-screen w-[300px] fixed top-0 right-full bg-sky-50/80 backdrop-blur-xl z-50 transition duration-500"
    >
      <div class="appDrawerHead flex items-center px-3 h-24">
        <img src="./logo/nonton.svg" alt="" class="w-[60px]" />
        <img
          src="./logo/text-nonton.svg"
          class="h-[40px] brightness-[25%] ml-1"
        />
      </div>
      <div class="appDrawerListItem w-[90%] m-auto h-[85%] overflow-auto">
        <p class="appDrawerListItem__title">Apps</p>
        <ul class="mt-4 mb-7">
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/home-bold.svg"
                alt=""
                class="item-icon bg-[#139DBB]"
              />
              <span class="item-name">Home</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/favorite-bold.svg"
                alt=""
                class="item-icon bg-[#FF2574]"
              />
              <span class="item-name">Favorite</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/watchlist-bold.svg"
                alt=""
                class="item-icon bg-[#B42DE3]"
              />
              <span class="item-name">Watch List</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
        </ul>
        <p class="appDrawerListItem__title">Movie</p>
        <ul class="mt-4 mb-7">
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/upcoming.svg"
                alt=""
                class="item-icon bg-[#FF4B4B]"
              />
              <span class="item-name">Upcoming</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/popular.svg"
                alt=""
                class="item-icon bg-[#14E07E]"
              />
              <span class="item-name">Popular</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/top-rated.svg"
                alt=""
                class="item-icon bg-[#4959EF]"
              />
              <span class="item-name">Top Rated</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/now-playing.svg"
                alt=""
                class="item-icon bg-[#FD9739]"
              />
              <span class="item-name">Now Playing</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
        </ul>
        <p class="appDrawerListItem__title">Tv Show</p>
        <ul class="mt-4 mb-7">
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/airing-today.svg"
                alt=""
                class="item-icon bg-[#CC45AE]"
              />
              <span class="item-name">Airing Today</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/popular.svg"
                alt=""
                class="item-icon bg-[#DFCD06]"
              />
              <span class="item-name">Popular</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
          <li class="my-3">
            <a href="#" class="flex items-center">
              <img
                src="./icon/top-rated.svg"
                alt=""
                class="item-icon bg-[#09C6BA]"
              />
              <span class="item-name">Top Rated</span>
              <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
            </a>
          </li>
        </ul>
        <p class="appDrawerListItem__title">Setting</p>
        <ul class="mt-4 mb-7">
          <li class="my-3 flex items-center">
            <img
              src="./icon/preference.svg"
              alt=""
              class="item-icon bg-[#0069A4]"
            />
            <span class="item-name">Preference</span>
            <i class="fa-regular fa-angle-right text-gray-700 pr-3"></i>
          </li>
          <li class="my-3 flex items-center">
            <img
              src="./icon/moon-bold.svg"
              alt=""
              class="item-icon bg-[#121212]"
            />
            <span class="item-name">Dark Mode</span>
            <div
              class="p-px h-6 w-16 bg-[#DDE7F0] border border-gray-300 rounded-full flex hover:justify-end hover:bg-green-500"
            >
              <div class="h-full aspect-square rounded-full bg-white"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="overlay" class="fixed inset-0 z-20" hidden></div>
  </body>
</html>
