<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" href="./logo/nonton.svg" />
    <link rel="apple-touch-icon" href="./logo/nonton-192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>nonton</title>
  </head>
  <body class="bg-sky-50 sm:overflow-auto dark:bg-slate-900">
    <nav id="navBar" class="w-full p-2 z-10 transition duration-500 sm:p-2">
      <div
        class="sm:main-change-size relative h-[55px] flex justify-between sm:justify-center items-center px-3 py-2"
      >
        <object
          data="./logo/nonton.svg"
          type="image/svg+xml"
          class="sm:hidden"
        ></object>
        <div
          id="searchContainer"
          class="w-full sm:w-1/2 md:w-[40%] hidden sm:block fixed top-0 left-0 p-3 sm:p-1 z-40 sm:absolute sm:left-1/2 sm:translate-x-[-50%] sm:rounded-2xl"
        >
          <form
            class="w-full flex items-center bg-[#DDE7F0] dark:bg-slate-600 rounded-xl"
          >
            <picture
              id="submitAndClose"
              class="ml-1.5 mr-.5 brightness-[20%] dark:brightness-100"
            >
              <source
                media="(min-width:640px)"
                srcset="./icon/search.svg"
                height="20"
                width="20"
              />
              <img src="./icon/back.svg" alt="" />
            </picture>
            <input
              type="search"
              name="searchInput"
              id="searchInput"
              class="w-full bg-transparent py-2 px-3 text-base border-none outline-none dark:placeholder:text-slate-300 dark:text-slate-300"
              placeholder="search some movie, tv show, people.."
            />
          </form>
          <ul
            id="searchResult"
            class="search-result w-full h-[90vh] mt-1 overflow-auto sm:max-h-0 sm:h-fit"
          ></ul>
        </div>
        <div
          id="openSearchbar"
          class="h-[45px] w-[45px] rounded-full bg-[#DDE7F0] dark:bg-slate-600 flex justify-center items-center sm:hidden"
        >
          <img
            src="./icon/search.svg"
            alt=""
            class="w-6 brightness-[20%] dark:brightness-100"
          />
        </div>
      </div>
    </nav>
    <main
      id="mainContent"
      class="text-xl font-bold bg-sky-50 dark:bg-slate-900 dark:text-[#ced6db] w-full sm:main-change-size mb-[60px] sm:mb-0"
    ></main>
    <!-- <app-drawer
      id="appDrawer"
      class="h-[80vh] md:h-[97vh] max-h-[805px] w-[250px] overflow-hidden md:w-14 fixed top-1/2 translate-y-[-50%] right-full md:right-auto md:left-2 bg-sky-50/80 backdrop-blur-xl z-50 transition duration-1000 ease-in rounded-2xl hover:actived"
    ></app-drawer> -->
    <div
      id="appDrawer"
      class="appDrawer fixed top-0 left-0 z-50 h-screen w-[260px] sm:w-[60px] bg-sky-50 dark:bg-slate-900 translate-x-[-100%] sm:translate-x-[0%]"
    >
      <div
        class="head-appDrawer w-full h-fit flex items-center justify-evenly p-2 mt-2"
      >
        <img
          src="./logo/nonton.svg"
          alt=""
          class="logo-img w-[35px] sm:w-0 h-[35px]"
        />
        <img
          src="./logo/text-nonton.svg"
          alt=""
          class="logo-text h-[37px] brightness-[20%] dark:brightness-95 sm:hidden sm:opacity-0"
        />
        <img
          src="./icon/more.svg"
          alt=""
          class="buttonDrawer hidden sm:block brightness-[20%] dark:brightness-100"
        />
      </div>
      <div
        class="appDrawerListItem p-3 mt-3 h-[85%] overflow-auto relative z-10"
      >
        <ul class="app mt-2">
          <li
            class="text-sm sm:text-[0px] font-normal text-slate-700/80 dark:text-[#ced6db]/70 ml-5"
          >
            App
          </li>
          <li>
            <a
              href="#/home"
              class="item-actived mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/home-bold.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Home
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
          <li>
            <a
              href="#/favorite"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/favorite-bold.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Favorite
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
          <li>
            <a
              href="#/watchlist"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/watchlist-bold.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Watchlist
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
        </ul>
        <ul class="movie mt-4">
          <li
            class="text-sm sm:text-[0px] font-normal text-slate-700/80 dark:text-[#ced6db]/70 ml-5"
          >
            Movie
          </li>
          <li>
            <a
              href="#/upcoming/movie"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/upcoming.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Upcoming
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
          <li>
            <a
              href="#/popular/movie"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/popular.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Popular
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
          <li>
            <a
              href="#/top-rated/movie"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/top-rated.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Top Rated
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
          <li>
            <a
              href="#/now-playing/movie"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/now-playing.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Now Playing
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
        </ul>
        <ul class="app mt-4">
          <li
            class="text-sm sm:text-[0px] font-normal text-slate-700/80 dark:text-[#ced6db]/70 ml-5"
          >
            Tv Show
          </li>
          <li>
            <a
              href="#/airing-today/tv"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/airing-today.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Airing Today
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
          <li>
            <a
              href="#/popular/tv"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/popular.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Popular
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
          <li>
            <a
              href="#/top-rated/tv"
              class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
            >
              <img
                src="./icon/top-rated.svg"
                alt=""
                class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
              />
              <p
                class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
              >
                Top Rated
              </p>
              <i
                class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
              ></i>
            </a>
          </li>
        </ul>
        <ul class="app mt-4">
          <li
            class="text-sm sm:text-[0px] font-normal text-slate-700/80 dark:text-[#ced6db]/70 ml-5"
          >
            Setting
          </li>
          <li
            id="preferenceButton"
            class="mt-1.5 py-2 px-3 sm:px-2 flex items-center justify-center"
          >
            <img
              src="./icon/preference.svg"
              alt=""
              class="min-w-6 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
            />
            <p
              class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap"
            >
              Preference
            </p>
            <i
              class="fa-regular fa-angle-right text-slate-700/80 dark:text-slate-300/50 inline sm:hidden"
            ></i>
          </li>
          <li
            id="darkSwitch"
            class="mt-1.5 py-[2px] px-3 sm:px-[2px] flex items-center justify-center"
          >
            <img
              src="./icon/moon-bold.svg"
              alt=""
              class="w-0 mr-3 sm:mr-0 brightness-[20%] dark:brightness-100"
            />
            <p
              class="text-base sm:text-[0] text-slate-900 dark:text-[#ced6db] font-normal w-full whitespace-nowrap hidden"
            >
              Dark Mode
            </p>
            <div
              class="toggle-dark p-px w-16 min-w-6 aspect-[7/4] bg-[#DDE7F0] border border-gray-300 rounded-full flex dark:justify-end dark:bg-green-500"
            >
              <div class="h-full aspect-square rounded-full bg-white"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="appDrawer fixed top-0 left-0 z-50 h-screen w-[250px]">
      <div class="head-appDrawer w-full h-fit overflow-hidden relative z-10">
        <img src="./icon/waves.svg" alt="" class="w-full" />
        <div class="icon flex items-center absolute bottom-1/2 left-[8%]">
          <img src="./logo/nonton.svg" alt="" />
          <img src="./logo/text-nonton.svg" alt="" class="brightness-[20%]" />
        </div>
      </div>
      <div
        class="appDrawerListItem pl-3 mt-3 h-[72%] overflow-auto relative z-10"
      >
        <ul class="app mt-1">
          <li class="text-sky-50 ml-3">App</li>
          <li
            class="item-actived dark:corner-dark corner-light mt-1 p-2 relative flex items-center"
          >
            <img src="./icon/home-bold.svg" alt="" class="w-8 mr-3" />
            <p class="text-lg text-sky-50 font-medium">Home</p>
          </li>
        </ul>
      </div>
      <div
        class="appDrawer-overlay h-full w-full absolute top-0 left-0 bg-sky-50/10 dark:bg-slate-900/30 backdrop-blur-[90px]"
      ></div>
    </div> -->
    <!-- bottom bar -->
    <bottom-bar
      id="bottomBar"
      class="fixed bottom-0 left-0 w-full h-[60px] bg-sky-50/50 dark:bg-slate-700/50 backdrop-blur-lg flex items-center justify-evenly sm:hidden z-20"
    ></bottom-bar>
    <div id="overlay" class="fixed inset-0 z-40 hidden"></div>
  </body>
</html>
