@import url("https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body::-webkit-scrollbar {
    display: none;
  }
  .search-result::-webkit-scrollbar {
    display: none;
  }

  #searchBar.search-actived {
    @apply drop-shadow-md block;
  }

  .search-actived .search-result {
    @apply sm:max-h-60;
  }

  #bottomBar img,
  #bottomBar p {
    pointer-events: none;
  }

  .bottom-bar__active {
    @apply flex items-center justify-center bg-gradient-to-br from-pink-400 to-fuchsia-400 px-2 py-[5px] rounded-full;
    pointer-events: none;
  }

  .bottom-bar__active > img {
    @apply h-[30px];
  }

  .bottom-bar__active > p {
    @apply block text-base text-sky-50 px-1 tracking-wider font-medium;
  }

  .appDrawerListItem::-webkit-scrollbar {
    display: none;
  }

  .appDrawerListItem {
    height: calc(100% - 50px);
  }

  .appDrawer-actived {
    @apply translate-x-[calc(100%+8px)];
  }

  .appDrawerListItem__title {
    @apply ml-1 font-medium text-gray-700 text-sm;
  }

  .appDrawerListItem .item-icon {
    @apply w-[35px] h-[35px] p-2 rounded-lg;
  }
  .appDrawerListItem .item-name {
    @apply text-base font-medium ml-4 w-full;
  }
  .appDrawerListItem i {
    @apply text-sm;
  }
}

@layer utilities {
  #appDrawer {
    transition: 0.4s;
  }
  .actived {
    @apply w-[250px];
  }
  .actived .appDrawerHead {
    @apply px-3;
  }
  .actived .logo-text {
    @apply h-[37px];
    transition: 0.1s;
    transition-delay: 0.2s;
  }
  .actived .stroke {
    @apply hidden;
  }
  .actived .appDrawerListItem__title {
    @apply inline;
    transition: 0.1s;
    transition-delay: 0.7s;
  }
  .actived .appDrawerListItem .item-name {
    @apply inline;
  }
  .actived .appDrawerListItem i {
    @apply inline;
    transition: 0.1s;
    transition-delay: 0.9s;
  }
  .actived .toggle-dark {
    @apply w-16 flex;
  }

  .main-change-size {
    width: calc(100% - 72px);
    margin: 0 0 0 auto;
  }
}
