<main
  id="mainContent"
  class="text-xl font-bold bg-sky-50 w-full md:main-change-size"
>
  <section id="recommended" class="pb-3">
    <h1 class="text-xl text-bold px-3">Recommended For You</h1>
    <div class="swiper recommended mt-1">
      <div class="swiper-wrapper pb-3">
        <recommended-list
          id="284053"
          class="swiper-slide px-[6px] block h-fit"
          data-src="./img/backdrop-11.webp"
          data-type="movie"
          data-title="Thor: Ragnarok"
          data-rate="7.6"
          data-genres="28,12,14,878,35"
        ></recommended-list>
        <recommended-list
          id="315635"
          class="swiper-slide px-[6px] block h-fit"
          data-src="./img/backdrop-10.webp"
          data-type="movie"
          data-title="Spider-Man: Homecoming"
          data-rate="7.4"
          data-genres="28,12,878,18"
        ></recommended-list>
        <recommended-list
          id="92783"
          class="swiper-slide px-[6px] block h-fit"
          data-src="./img/backdrop-7.webp"
          data-type="tv"
          data-title="She-Hulk: Attorney at Law"
          data-rate="6.6"
          data-genres="35,10765"
        ></recommended-list>
      </div>
    </div>
  </section>
  <section id="popular" class="pb-3">
    <h1 class="text-xl text-bold px-3">Popular</h1>
    <div
      class="p-2 pb-6 flex gap-[2%] min-[700px]:gap[1.5%] min-[890px]:gap-[1%] overflow-scroll overflow-y-hidden"
    >
      <movie-item
        id="284053"
        data-src="./img/poster-11.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="7.6"
        class="image-item"
      ></movie-item>
      <movie-item
        id="284053"
        data-src="./img/poster-13.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="8.6"
        class="image-item"
      ></movie-item>
      <movie-item
        id="284053"
        data-src="./img/poster-6.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="6.6"
        class="image-item"
      ></movie-item>
      <movie-item
        id="284053"
        data-src="./img/poster-9.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="9.2"
        class="image-item"
      ></movie-item>
      <movie-item
        id="284053"
        data-src="./img/poster-14.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="6.2"
        class="image-item"
      ></movie-item>
      <movie-item
        id="284053"
        data-src="./img/poster-2.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="6.4"
        class="image-item"
      ></movie-item>
      <movie-item
        id="284053"
        data-src="./img/poster-3.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="5.6"
        class="image-item"
      ></movie-item>
      <movie-item
        id="284053"
        data-src="./img/poster-1.webp"
        data-type="movie"
        data-title="Thor: Ragnarok"
        data-date="2017-10-24"
        data-rate="8.9"
        class="image-item"
      ></movie-item>
    </div>
  </section>
  <section
    id="latestTrailer"
    class="py-3 bg-cover bg-center w-full"
    style="
      background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('https://image.tmdb.org/t/p/w500/uDgy6hyPd82kOHh6I95FLtLnj6p.jpg');
    "
  >
    <h1 class="text-xl text-bold px-3 text-sky-50">Latest Trailer</h1>
    <div class="swiper latest mt-4 mb-6">
      <div class="swiper-wrapper">
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-2.webp"
          data-title="Guns Akimbo"
        ></latest-item>
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-13.webp"
          data-title="Ready Player One"
        ></latest-item>
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-11.webp"
          data-title="Thor: Ragnarok"
        ></latest-item>
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-8.webp"
          data-title="Mulan"
        ></latest-item>
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-10.webp"
          data-title="Spider-Man: Homecoming"
        ></latest-item>
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-4.webp"
          data-title="The Night Comes For Us"
        ></latest-item>
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-9.webp"
          data-title="Vincenzo"
        ></latest-item>
        <latest-item
          class="swiper-slide w-[95%] md:w-[36%] rounded-2xl"
          data-src="./img/backdrop-14.webp"
          data-title="Love and Monster"
        ></latest-item>
      </div>
      <div class="swiper-button-next text-white"></div>
      <div class="swiper-button-prev text-white"></div>
    </div>
  </section>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span>
  <img
    src="https://image.tmdb.org/t/p/w500/1NqwE6LP9IEdOZ57NCT51ftHtWT.jpg"
    alt=""
    class="w-[250px] rounded-md"
  />
  <div class="w-16 h-16 bg-[rgb(255,255,255)] rounded-md"></div>
  <ul>
    <li>hai</li>
    <li>hai</li>
    <li>hai</li>
    <li>hai</li>
    <li>hai</li>
  </ul>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span><span>hello world</span><span>hello world</span
  ><span>hello world</span>
</main>
